@import url("https://fonts.googleapis.com/css2?family=Karla&Fira+Sans&family=Poppins&display=swap");

.BodyShipper {
  font-family: "Karla", sans-serif;
  height: 100vh;
  background-color: #c7efc9;
  /* background-image: url("../../images/bg.svg"); */
  background-repeat: no-repeat;
  background-position: center;
}

.DataTableShipper {
  overflow-x: scroll;
 border-radius: 40px;
  max-height: 580px;

}




tr{
  background-color: rgba(255 ,255, 255, 0.7); 
 
} */



.DataTableShipper .p-paginator {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mb-4 {
  margin-bottom: 1.5rem !important;
  margin-right: 5px;
  margin-left: 5px;
}
.cardShipper {
  background-color: transparent;
  padding: 2rem;
  border-radius: 10px;
  border: none;

}
/* Optional: Customize scrollbars */
.DataTableShipper::-webkit-scrollbar {
  width: 0px;
}
.DataTableShipper::-webkit-scrollbar-track {
  background-color: transparent;

}
/*---------------navbar------------------------*/
.navbar {
  background-color:  rgba(255 ,255, 255, 0.7);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-logo {
  flex: 1;
}

.logo {
  width: 100px; /* Adjust size as needed */
  height: auto;
}

.navbar-items {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar-user {
  display: flex;
  align-items: center;
}

.user-icon {
  color: black;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.user-name {
  color: black;
  margin-right: 0.5rem;
}

.logout-icon {
  cursor: pointer;
  color: black;
}

/* Adjust styles as needed for responsiveness, hover effects, etc. */
